.container{
    width: 430px;
    height: 700px;
}
.container>h3{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border: 1px solid rgb(255, 232, 100);
    background-color: rgb(255, 239, 146);
    padding: 0 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: right;
    line-height: 100px;
    font-size: 25px;  

    overflow-x: auto;     /* 가로 스크롤 */
    overflow-y: hidden;   /* 세로 스크롤 제거 */
    white-space: nowrap;   /* 한 줄 유지 */
}
.container>.line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container>.line>button{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(255, 195, 205);
    font-size: 35px;
}
.container>button{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 109, 109);
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 35px;
}